# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ 4.2 ]
  pull_request:
    branches: [ 4.2 ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
    #- name: Build with Maven
    #  run: mvn -B package --file pom.xml -DskipTests
    - name: Publish to GitHub Packages Apache Maven
      #run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml
      run: mvn deploy -Dregistry=https://maven.pkg.github.com/jiluhu -Dtoken=GH_TOKEN
      env:
        GITHUB_TOKEN: ${{ github.token }}
